<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio Page</title>
</head>
<body>
  {{> header}}
  <div class="portfolio">
    <ul>
      <li>Hewlett Packard Enterprise</li>
      <li>Singapore</li>
      <li>GSShop</li>
    </ul>
  </div>
  
  {{> footer}}
</body>
</html>